.not-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  max-width: 1280px;
  height: 100vh;
  margin: 0 auto;
}

.not-found__error {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: #000000;
  margin-bottom: 34px;
}

.not-found__text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 184px;
}

.not-found__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ff6838;
  text-decoration: none;
}

.not-found__submit:hover {
  cursor: pointer;
  transition: 0.1s linear 0.05s;
  opacity: 0.5;
}

.not-found__submit:active,
.not-found__submit:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  .not-found__error {
    font-size: 80px;
    margin-bottom: 27px;
  }

  .not-found__text {
    font-size: 12px;
    margin-bottom: 284px;
  }

  .not-found__submit {
    font-size: 12px;
  }
}
