.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navigation_logout {
  justify-content: flex-end;
}

.navigation__menu {
  width: 44px;
  height: 44px;
  background-image: url(../../images/icon__menu.svg);
  background-size: contain;
  background-position: center;
  background-color: #fff;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;
}

@media all and (max-width: 768px) {
  .navigation {
    justify-content: flex-end;
  }
}
