.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, 364px);
  grid-auto-rows: 271px;
  row-gap: 30px;
  column-gap: 20px;
  align-content: center;
  justify-content: center;
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  object-fit: contain;
}

.cards__message{
  display: block;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  width: 100%;
  min-height: 20px;
  padding: 0;
  margin: 0;
}

.cards__button {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  background-color: #F9F9F9;
  width: 100%;
  padding: 11px 0 9px;
  border: none;
  outline: none;
  border-radius: 6px;
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.cards__button:hover {
  background-color: #F9F9F9;
}

@media screen and (max-width: 1279px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 339px);
    grid-auto-rows: 260px;
    row-gap: 36px;
    column-gap: 30px;
  }
}

@media screen and (max-width: 1024px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 320px);
    grid-auto-rows: 258px;
    row-gap: 30px;
    column-gap: 26px;
  }
}

@media screen and (max-width: 767px) {
  .cards {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-auto-rows: 236px;
    row-gap: 16px;
  }
}
