.portfolio {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 90px 50px;
}

.portfolio__title {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #a0a0a0;
  margin: 0;
}

.portfolio__links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.portfolio__link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  color: #000000;
  text-decoration: none;
  width: auto;
  border-bottom: 1px solid #e8e8e8;
  padding: 20px 0 19px 0;
}

.portfolio__link:nth-of-type(3) {
  border-bottom: none;
}

.portfolio__link:hover {
  cursor: pointer;
  opacity: 0.25;
  transition: 0.1s linear 0.05s;
}

@media screen and (max-width: 1279px) {
  .portfolio {
    padding: 0 50px 90px 50px;
  }

  .portfolio__links {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

  .portfolio__link {
    border-bottom: 1px solid #e8e8e8;
    padding: 20px 0 19px 0;
  }
}

@media screen and (max-width: 767px) {
  .portfolio {
    padding: 0 14px;
  }

  .portfolio__title {
    font-size: 14px;
    color: #a0a0a0;
  }

  .portfolio__links {
    margin-top: 20px;
  }
  .portfolio__link {
    font-size: 18px;
    line-height: 28px;
    border-bottom: 1px solid #e8e8e8;
  }
}
