.gamburger-menu {
  display: flex;
  justify-content: center;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 -40px 0 0;
  background-color: #202020;
}

.gamburger-menu__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
  width: 70vw;
}

.gamburger-menu__container_overlay {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(22, 22, 22, .5);
}

.gamburger-menu__links {
  display: none;
  transform-origin: right center;
  transition: .5s;
  transform: scaleX(0) translateX(5%);
  opacity: 0;
  visibility: hidden;
}

.gamburger-menu__links_active {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #202020;
  transform: scaleX(1) translateX(0%);
  opacity: 1;
  visibility: visible;
  transition: .5s linear .5s;
  height: 100vh;
  width: 67.71vw;
  top: 0;
  right: 0;
}

.gamburger-menu__link {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-bottom: 28px;
  transition: 1s;
}

.gamburger-menu__link:hover {
  cursor: pointer;
  transition: .1s linear .05s;
  opacity: .5;
}

.gamburger-menu__link:nth-of-type(1) {
  margin-top: 159px;
}

.gamburger-menu__link:nth-of-type(3) {
  margin-bottom: 0;
}

.gamburger-menu__link:nth-of-type(4) {
  border-bottom: none;
  padding-bottom: 0;
  margin-bottom: 90px;
  margin-top: 621px;
}

.gamburger-menu__link:active, .gamburger-menu__link:focus  {
  padding-bottom: 6px;
  border-bottom: 2px solid #fff;
}

.gamburger-menu__link_btn {
  width: 110px;
  height: 45px;
  border: none;
  background-color: transparent;
  background-image: url('../../images/profile.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.gamburger-menu__link_btn:hover {
  cursor: pointer;
  transition: .1s linear .05s;
  opacity: .5;
}

.gamburger-menu__link_btn:active, .gamburger-menu__link_btn:focus {
  outline: none;
}



/* стили кнопки бургера */
.gamburger-menu__btn {
  position: absolute;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.gamburger-menu__btn:hover {
  cursor: pointer;
  transition: .1s linear .05s;
  opacity: .5;
}

.gamburger-menu__btn:active, .gamburger-menu__btn:focus  {
  outline: none;
}




/* стили и анимация отрытия и закрытия кнопки "бургера" */
.gamburger-menu__btn span,
.gamburger-menu__btn span::before,
.gamburger-menu__btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -11px;
  width: 22px;
  height: 2.5px;
  background-color: #fff;
}

.gamburger-menu__btn span::before,
.gamburger-menu__btn span::after {
  content: '';
  display: block;
  transition: .5s;
}

.gamburger-menu__btn span::before {
  transform: translateY(-6.5px);
}

.gamburger-menu__btn span::after {
  transform: translateY(6.5px);
}

.gamburger-menu__btn_active span {
  height: 0;
}

.gamburger-menu__btn_active span:before {
  transform: rotate(45deg);
}

.gamburger-menu__btn_active span:after {
  transform: rotate(-45deg);
}

@media screen and (max-width : 767px) {

  .gamburger-menu__link {
    margin-bottom: 24px;
  }

  .gamburger-menu__links_active {
    width: 100vw;
    height: auto;
  }

  .gamburger-menu__link:nth-of-type(1) {
    margin-top: 144px;
  }

  .gamburger-menu__link:nth-of-type(4) {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 46px;
    margin-top: 444px;
  }
}