.register {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  margin: 0 auto;
  max-width: 1280px;
}

.register__form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 396px;
  padding-bottom: 100vh;
}

.register__form_label {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
}

.register__form_input {
  border-radius: 8px;
  margin: 10px auto 20px auto;
  background-color: #F9F9F9;
  width: 396px;
  height: 46px;
  border: none;
  color: black;
  padding-left: 15px;
}

.register__form_input::placeholder {
  padding-left: 15px;
}

.register__form_input:nth-of-type(3) {
  margin-bottom: 0;
}

.register__form_input:focus {
  color: black;
}

.register__form_submit {
  background-color: #FF6838;
  color: #FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-radius: 3px;
  width: 396px;
  height: 45px;
  margin: 91px auto 16px auto;
}

.register__form_submit:hover {
  cursor: pointer;
  transition: .1s linear .05s;
  opacity: .5;
}

.register__form_text {
  display: flex;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #8b8b8b;
  align-self: center;
}

.register__form_login {
  color: #FF6838;
  text-decoration: none;
  margin-left: 6px;
}

.register__form_login:hover {
  cursor: pointer;
  transition: .1s linear .05s;
  opacity: .5;
}

.register__form_login:active, .register__form_login:focus {
  outline: none;
}

@media screen and (max-width : 767px) {
  .register__form {
    margin: 0 auto;
    width: 260px;
  }

  .register__form_input {
    width: 260px;
  }

  .register__form_submit {
    font-size: 12px;
    max-width: 260px;
    margin: 157px auto 14px auto;
  }

  .register__form_text {
    font-size: 12px;
  }
}
