.techs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  background-color: #f5f5f5;
}

.techs__container {
  width: 89.0625%;
  display: flex;
  flex-direction: column;
}

.techs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

.techs__title {
  font-weight: normal;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0 0 26px;
  color: black;
}

.techs__text {
  max-width: 460px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.04em;
  margin: 0 0 100px;
  text-align: center;
  color: black;
}

.techs__list {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.techs__list-item {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E8E8E8;
  border-radius: 10px;
}

.techs__list-text {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.04em;
  margin: 0;
  padding: 0;
  color: black;
}

@media all and (max-width: 800px) {
  .techs {
    padding: 90px 0;
  }

  .techs__container {
    width: calc(100% - 100px);
  }

  .techs__content {
    padding-top: 80px;
  }

  .techs__title {
    margin: 0 0 22px;
  }

  .techs__text {
    font-size: 12px;
    line-height: 18px;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
  }

  .techs__list-item {
    height: 57px;
  }

  .techs__list-text {
    font-size: 12px;
    line-height: 15px;
  }
}

@media all and (max-width: 600px) {
  .techs {
    padding: 70px 0;
  }

  .techs__container {
    width: 92.5%;
  }

  .techs__content {
    padding-top: 60px;
  }

  .techs__title {
    margin: 0 0 24px;
    font-size: 30px;
    line-height: 36px;
  }

  .techs__text {
    font-size: 11px;
    line-height: 16px;
    margin: 0 0 50px;
  }

  .techs__list {
    grid-template-columns: repeat(2, 84px);
  }
}
